.user-tab-container {
    display: flex;
    border: 1px solid #897463;
    /* border-radius: 10px; */
    overflow: hidden;
    width: fit-content;

}

.tab {
    padding: 12px 20px;
    border: none;
    background: #fff;
    cursor: pointer;
    color: #555;
    font-size: 14px;
    transition: 0.3s;
    flex: 1;
    outline: none;
}

.tab.active {
    background: #7b6650; /* Brown color */
    color: white;
    font-weight: bold;
    border-radius: 0%;
}
