.AdminA-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
    padding: 0px 20px 20px 0px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .AdminA-bento-item:hover .AdminA-overlay {
    opacity: 1;
  }
  /* .adescription{
    width: 80%;
  } */
  .AdminA-aname{
    /* background-color: darksalmon; */
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: end;
    
  }

  .AdminA-bento-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    /* background-color: crimson; */
  }
  
  .AdminA-bento-item {
    background: #ddd;
    display: flex;
    align-items: end;
    justify-content: left;
    padding-left: 4%;
    padding-bottom: 4%;
    position: relative;
    overflow: hidden;
    /* border-radius: 10px; */
    cursor: pointer;
    height: 23vh;

  }
  
  .AdminA-item-0 { grid-column: span 2; }
  .AdminA-item-1 { grid-column: span 3; }
  .AdminA-item-2 { grid-column: span 3; }
  .AdminA-item-3 { grid-column: span 2; }
  .AdminA-item-4 { grid-column: span 5; }

  .AdminA-addA{
    background-color: #897463;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
  }

  .AdminA-container{
    /* background-color: aquamarine; */
    width: 90%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }


  /* Modal Styling */
.AdminA-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .AdminA-modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 3px;
  }
  
  .AdminA-modal-content input,
  .AdminA-modal-content textarea {
    width: 80%;
    border: solid 1.5px #897463;
    border-radius: 10px;
    background: none;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
  }

  .AdminA-profile-upload-label {
    display: block;
    width: 80%;
    padding: 10px;
    text-align: center;
    border: 2px dashed #897463;
    border-radius: 5px;
    /* color: #666; */
    cursor: pointer;
    margin: 10px 0;
    height: 70px

  }

  .AdminA-add{
    background-color: #897463;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 10px;
    width: 150px;
    align-self: center;
  }
  
  .AdminA-profile-hidden {
    display: none;
  }

  
  .AdminA-close-btn {
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding-right: 30px !important;
  }
  
  /* Close button hover effect */
  .AdminA-close-btn:hover {
    color: #000;
  }
  .AdminA_close{
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
    width: 80%;
    flex-wrap: wrap;
    /* margin-right: -20px; */
  }
  .AdminA-profile-upload-icon{
    color: #897463;
    font-size: 20px;
  }

  .SuperA-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .AdminA-bento-item:hover .SuperA-overlay {
    opacity: 1;
  }
  .SuperA-adescription{
    width: 80%;
  }


  .AdminA-profile-image {
    width: 50px; /* Set width to make it smaller */
    height: 50px; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 5%; /* Makes the image round */
  }
  