/* Hero banner Slider */
.heroBanner-slider{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vw;
    min-height: 60vh;
    max-height: 100vh;
    width: 100%;
    white-space: nowrap;
  overflow: hidden;

}

.slider-image {
    width: 100%;
    height: 100vw;
    min-height: 60vh;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: brightness(60%); /* Lower = darker */
    transition: filter 0.3s ease-in-out;
}
.slider-content{
    font-family: 'Lora';
    font-size: clamp(1rem, 5vw, 3.125rem);
    font-weight: 700;
    color: #fff;
    width: 70%;
    text-align: center;

}
.slider-content1{
    font-family: 'Lora';
    font-size: clamp(1rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    color: #fff;
    width: 60%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;

}

.contentOuter{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5;
    /* background-color: darkgreen; */
    padding-left: 5%;

}
.startBtn{
    background-color: #897463; 
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: clamp(0.625rem, 2vw, 1rem);
    cursor: pointer;
    transition: 0.3s;
    width: 25%;
    align-self: center;
    margin-left: 20%;

}

.slider-indicator{
    background: transparent;
    border: 1.5px solid #fff;
    height: 5px;
    width: 8px;
    border-radius: 2px;
}
.indicator-active{
    background-color: #fff;
}
.buttonNextPrev{
    position: absolute;
    bottom: 10px;
   
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    /* background-color: aquamarine; */
}


.prev{
    background: #eee;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
    height: 40px;
}
.next{
    background: #eee;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
    height: 40px;

}
